* {
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: '';
  visibility: hidden;
  height: 0;
  font-size: 0;
  display: block;
  clear: both;
}
html,
body {
  font-size: 100px;
  font-size: 0.16rem;
  position: relative;
}
.wrap {
  width: 100%;
  height: 100%;
}
.wrap header {
  width: 100%;
  height: 0.42rem;
  background-color: #ff8a00;
  display: flex;
}
.wrap header div:nth-child(1) {
  flex: 4;
  display: flex;
  padding-left: 0.35rem;
}
.wrap header div:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap header div:nth-child(3) {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap main {
  width: 100%;
  height: auto;
  font-size: 0.18rem;
  background-color: #f5f5f5;
}
.wrap main .input_ {
  padding: 0.1rem 0.15rem;
  border-radius: 0.03rem;
}
.wrap main .input_ .input_box {
  border: 0.01rem solid #cccccc;
  width: 100%;
  background-color: #fff;
  height: 100%;
  color: #757575;
  height: 0.3rem;
  padding-left: 0.1rem;
  box-sizing: border-box;
  overflow: hidden;
}
.wrap main .input_ .input_box input {
  border: none;
  box-sizing: border-box;
  display: block;
  width: 80%;
  height: 100%;
  float: left;
  font-size: 0.14rem;
  color: #757575;
}
.wrap main .input_ .input_box span {
  width: 20%;
  float: left;
  height: 100%;
  background: url(../image/SecondHandList/search_03.png) no-repeat 0.2rem 0.02rem;
}
.wrap main .warp {
  width: 100%;
  height: auto;
  background-color: #fff;
  border: 0.01rem #cccccc solid;
}
.wrap main .warp .li_ {
  background-color: #fff;
  padding: 0.1rem 0;
  box-sizing: border-box;
  width: 25%;
  float: left;
  list-style: none;
  text-align: center;
  color: #666666;
  position: relative;
  z-index: 99;
  border-bottom: 0.01rem #cccccc solid;
}
.wrap main .warp .li_ .area {
  text-decoration: none;
  color: #666666;
}
.wrap main .warp .li_ .area .span {
  position: absolute;
  text-align: center;
  top: 0.12rem;
  left: 0.7rem;
  float: left;
  width: 0;
  height: 0;
  display: block;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #ccc transparent transparent;
}
.wrap main .warp .li_ .area .i {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0.7rem;
  float: left;
  width: 0;
  height: 0;
  display: none;
  border-width: 0.1rem;
  border-style: solid;
  border-color: transparent transparent #ff8a00;
}
.wrap main .warp .li_ .box {
  width: 400%;
  position: absolute;
  top: 0.4rem;
  z-index: 99;
  overflow: hidden;
  background-color: #fff;
  display: none;
  text-align: center;
}
.wrap main .warp .li_ .box .left {
  width: 25%;
  float: left;
}
.wrap main .warp .li_ .box .left p {
  display: block;
  background-color: #fff;
  color: #ff8a00;
  width: 100%;
  height: 0.3rem;
  line-height: 0.3rem;
}
.wrap main .warp .li_ .box .left span {
  height: 1.4rem;
  width: 100%;
  display: block;
  color: #000;
  background-color: #bfb6c8;
  border-right: solid 0.01rem #cccccc;
}
.wrap main .warp .li_ .box .con {
  float: left;
  width: 35%;
  background-color: #fff;
}
.wrap main .warp .li_ .box .con li {
  list-style: none;
  width: 100%;
  line-height: 0.22rem;
  border: none;
}
.wrap main .warp .li_ .box .con li a {
  text-decoration: none;
  font-size: 0.11rem;
  color: #666666;
}
.wrap main .warp .li_ .box .right {
  background-color: #fff;
  float: left;
  width: 40%;
}
.wrap main .warp .li_ .box .right li {
  list-style: none;
  width: 100%;
  line-height: 0.22rem;
}
.wrap main .warp .li_ .box .right li a {
  text-decoration: none;
  font-size: 0.11rem;
  color: #666666;
}
.wrap main .warp .li_ .box1 {
  left: -1rem;
}
.wrap main .warp .li_ .box1 .all {
  width: 90%;
  margin: 0 auto;
  height: auto;
}
.wrap main .warp .li_ .box1 .all li {
  list-style: none;
  font-size: 0.11rem;
  width: 100%;
  border-bottom: solid 0.01rem #cccccc;
  height: 0.4rem;
}
.wrap main .warp .li_ .box1 .all li span {
  line-height: 0.2rem;
  line-height: 0.4rem;
  display: block;
  float: left;
}
.wrap main .warp .li_ .box2 {
  left: -2rem;
}
.wrap main .warp .li_ .box2 .all {
  width: 90%;
  margin: 0 auto;
}
.wrap main .warp .li_ .box2 .all li {
  width: 100%;
  list-style: none;
  line-height: 0.32rem;
  font-size: 0.12rem;
  color: #828282;
  border-bottom: #ccc solid 0.01rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap main .warp .li_ .box2 .all li input {
  padding-right: 0.2rem;
}
.wrap main .warp .li_ .box2 .all li:nth-child(7) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff8a00;
}
.wrap main .warp .li_ .box3 {
  left: -2.75rem;
}
.wrap main .warp .li_ .box3 .all {
  width: 90%;
  margin: 0 auto;
}
.wrap main .warp .li_ .box3 .all h4 {
  margin: 0.15rem 0;
}
.wrap main .warp .li_ .box3 .all ul {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 0.01rem solid #ccc;
}
.wrap main .warp .li_ .box3 .all ul li {
  list-style: none;
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
  float: left;
  width: 0.64rem;
  height: 0.27rem;
  text-align: center;
  line-height: 0.27rem;
  font-size: 0.11rem;
  border: 0.01rem solid #ccc;
}
.wrap main .shop {
  width: 100%;
  height: auto;
  float: left;
  background-color: #fff;
}
.wrap main .shop .content {
  margin: 0 0.2rem;
}
.wrap main .shop .content .wh {
  padding: 0.24rem 0;
  border-bottom: 0.01rem solid #ff0000;
  overflow: hidden;
  display: flex;
}
.wrap main .shop .content .wh .left {
  padding: 0.1rem;
  box-sizing: border-box;
  float: left;
}
.wrap main .shop .content .wh .right {
  float: left;
  margin-left: 0.2rem;
  overflow: hidden;
  height: auto;
}
.wrap main .shop .content .wh .right p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.18rem;
  float: left;
  display: block;
  width: 100%;
}
.wrap main .shop .content .wh .right .left1 {
  float: left;
  display: flex;
  flex-direction: column;
}
.wrap main .shop .content .wh .right .left1 li {
  list-style: none;
}
.wrap main .shop .content .wh .right .left1 li:nth-child(1) {
  font-size: 0.12rem;
  margin-top: 0.1rem;
}
.wrap main .shop .content .wh .right .left1 li:nth-child(2) {
  font-size: 0.12rem;
  margin-top: 0.15rem;
  color: #bfb6c8;
}
.wrap main .shop .content .wh .right .left1 li:nth-child(2) span {
  color: #fba700;
}
.wrap main .shop .content .wh .right .left1 li:nth-child(3) {
  margin-top: 0.1rem;
  font-size: 0.12rem;
  flex-direction: row;
  display: flex;
  color: #bfb6c8;
}
.wrap footer {
  width: 100%;
  height: auto;
  float: left;
  background-color: #2f3130;
}
.wrap footer .foot {
  margin: 0 0.2rem;
  line-height: 0.3rem;
  color: #939494;
  font-size: 0.16rem;
  border-bottom: 0.01rem solid #939494;
}
.wrap footer ul {
  width: 100%;
  overflow: hidden;
  font-size: 0.16rem;
}
.wrap footer ul li {
  padding: 0.2rem;
  box-sizing: border-box;
  list-style: none;
  width: 50%;
  float: left;
  overflow: hidden;
}
.wrap footer ul li span {
  float: left;
}
.wrap footer ul li .ip {
  float: left;
  margin-left: 0.1rem;
  color: #777878;
}
.wrap .foote {
  width: 100%;
  height: auto;
  float: left;
  background-color: #171818;
}
.wrap .foote p {
  color: #939494;
  font-size: 0.16rem;
  line-height: 0.3rem;
  text-align: center;
}
.wrap .masking {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 3;
  display: none;
}
